@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sanduches con Chain of Responsibility</h1>
    <p>Se aplica el patron para validar que se ingrese un nombre 
        y para validar el rango del precio del sanduche</p>
    @*<h2 class="display-4">Se aplica el patron para validar que se ingrese un nombre 
        y para validar el rango del precio del sanduche</h2>*@

    <img src="~/imagenes/chain-of-responsibility.png" alt="Cheese" width="500"  height="300"   />
</div>
